In [1]:
import pandas as pd

df_grouped = pd.read_csv('/Users/sayansarkar/Documents/Project/COVID-19-Analytics/Data/archive/full_grouped.csv')
df_clean = pd.read_csv('/Users/sayansarkar/Documents/Project/COVID-19-Analytics/Data/archive/covid_19_clean_complete.csv')
df_country_latest = pd.read_csv('/Users/sayansarkar/Documents/Project/COVID-19-Analytics/Data/archive/country_wise_latest.csv')
df_day_wise = pd.read_csv('/Users/sayansarkar/Documents/Project/COVID-19-Analytics/Data/archive/day_wise.csv')
df_worldometer = pd.read_csv('/Users/sayansarkar/Documents/Project/COVID-19-Analytics/Data/archive/worldometer_data.csv')

In [2]:
# display the basic info about the data frame
df_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35156 entries, 0 to 35155
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            35156 non-null  object
 1   Country/Region  35156 non-null  object
 2   Confirmed       35156 non-null  int64
 3   Deaths          35156 non-null  int64
 4   Recovered       35156 non-null  int64
 5   Active          35156 non-null  int64
 6   New cases       35156 non-null  int64
 7   New deaths      35156 non-null  int64
 8   New recovered   35156 non-null  int64
 9   WHO Region      35156 non-null  object
dtypes: int64(7), object(3)
memory usage: 2.7+ MB

In [3]:
# display the basic info about the data frame
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [4]:
# display the basic info about the data frame
df_country_latest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [5]:
# display the basic info about the data frame
df_day_wise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    188 non-null    object
 1   Confirmed               188 non-null    int64
 2   Deaths                  188 non-null    int64
 3   Recovered               188 non-null    int64
 4   Active                  188 non-null    int64
 5   New cases               188 non-null    int64
 6   New deaths              188 non-null    int64
 7   New recovered           188 non-null    int64
 8   Deaths / 100 Cases      188 non-null    float64
 9   Recovered / 100 Cases   188 non-null    float64
 10  Deaths / 100 Recovered  188 non-null    float64
 11  No. of countries        188 non-null    int64
dtypes: float64(3), int64(8), object(1)
memory usage: 17.8+ KB

In [7]:
# display the basic info about the data frame
df_worldometer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.3+ KB

In [8]:

# Check for missing values for grouped data
missing_values = df_grouped.isnull().sum()
print("\nMissing values in each column:\n", missing_values)

Missing values in each column:
 Date              0
Country/Region    0
Confirmed         0
Deaths            0
Recovered         0
Active            0
New cases         0
New deaths        0
New recovered     0
WHO Region        0
dtype: int64

In [9]:

# Check for missing values for df_Clean
missing_values = df_clean.isnull().sum()
print("\nMissing values in each column:\n", missing_values)

Missing values in each column:
 Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [10]:

# Check for missing values for country_latest
missing_values = df_country_latest.isnull().sum()
print("\nMissing values in each column:\n", missing_values)

Missing values in each column:
 Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [11]:

# Check for missing values for day_wise data
missing_values = df_day_wise.isnull().sum()
print("\nMissing values in each column:\n", missing_values)

Missing values in each column:
 Date                      0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
No. of countries          0
dtype: int64

In [14]:

# Check for missing values for worldometer data
missing_values = df_worldometer.isnull().sum()
print("\nMissing values in each column:\n", missing_values)

Missing values in each column:
 Country/Region        0
Continent             1
Population            1
TotalCases            0
NewCases            205
TotalDeaths          21
NewDeaths           206
TotalRecovered        4
NewRecovered        206
ActiveCases           4
Serious,Critical     87
Tot Cases/1M pop      1
Deaths/1M pop        22
TotalTests           18
Tests/1M pop         18
WHO Region           25
dtype: int64

In [15]:
# 1. Convert the 'Date' column to datetime type
df_grouped['Date'] = pd.to_datetime(df_grouped['Date'], errors='coerce')

In [16]:
# Check for rows with invalid dates
invalid_dates = df_grouped[df_grouped['Date'].isna()]
print(f"\nRows with invalid dates:\n {invalid_dates}")

Rows with invalid dates:
 Empty DataFrame
Columns: [Date, Country/Region, Confirmed, Deaths, Recovered, Active, New cases, New deaths, New recovered, WHO Region]
Index: []

In [17]:
# Drop rows with invalid dates if any
df_grouped = df_grouped.dropna(subset=['Date'])

In [18]:
# 2. Check for negative values in numerical columns
negative_values = df_grouped[['Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases', 'New deaths', 'New recovered']].lt(0).sum()
print("\nNegative values in numerical columns:\n", negative_values)

Negative values in numerical columns:
 Confirmed         0
Deaths            0
Recovered         0
Active            2
New cases         0
New deaths       38
New recovered    77
dtype: int64

In [22]:
# Replace negative values with 0 for the specified columns using clip
df_grouped[['Active', 'New deaths', 'New recovered']] = df_grouped[['Active', 'New deaths', 'New recovered']].clip(lower=0)
# Verify the changes
negative_values_after = df_grouped[['Active', 'New deaths', 'New recovered']].lt(0).sum()
print("\nNegative values after correction:\n", negative_values_after)

Negative values after correction:
 Active           0
New deaths       0
New recovered    0
dtype: int64

In [21]:

# 3. Check for duplicates and remove them
duplicates = df_grouped.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [23]:

# Drop duplicates
df_grouped = df_grouped.drop_duplicates()

In [24]:
# 4. Outlier detection using the IQR method
Q1 = df_grouped[['Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases', 'New deaths', 'New recovered']].quantile(0.25)
Q3 = df_grouped[['Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases', 'New deaths', 'New recovered']].quantile(0.75)
IQR = Q3 - Q1

In [25]:
# Define outlier criteria (e.g., 1.5 * IQR beyond Q1 and Q3)
outliers = ((df_grouped[['Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases', 'New deaths', 'New recovered']] < (Q1 - 1.5 * IQR)) |
            (df_grouped[['Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases', 'New deaths', 'New recovered']] > (Q3 + 1.5 * IQR)))

# Detect outliers
outlier_rows = df_grouped[outliers.any(axis=1)]
print(f"\nRows with potential outliers:\n {outlier_rows}")

# Save the cleaned data to a new CSV file
df_grouped.to_csv('/Users/sayansarkar/Documents/Project/COVID-19-Analytics/Data/archive/full_grouped_cleaned.csv', index=False)
print("\nData cleaned and saved as 'full_grouped_cleaned.csv'.")

Rows with potential outliers:
             Date      Country/Region  Confirmed  Deaths  Recovered  Active  \
410   2020-01-24               China        920      26         36     858
597   2020-01-25               China       1406      42         39    1325
784   2020-01-26               China       2075      56         49    1970
971   2020-01-27               China       2877      82         58    2737
1158  2020-01-28               China       5509     131        101    5277
...          ...                 ...        ...     ...        ...     ...
35149 2020-07-27           Venezuela      15988     146       9959    5883
35151 2020-07-27  West Bank and Gaza      10621      78       3752    6791
35153 2020-07-27               Yemen       1691     483        833     375
35154 2020-07-27              Zambia       4552     140       2815    1597
35155 2020-07-27            Zimbabwe       2704      36        542    2126

       New cases  New deaths  New recovered             WHO Region
410          277           8              6        Western Pacific
597          486          16              3        Western Pacific
784          669          14             10        Western Pacific
971          802          26              9        Western Pacific
1158        2632          49             43        Western Pacific
...          ...         ...            ...                    ...
35149        525           4            213               Americas
35151        152           2              0  Eastern Mediterranean
35153         10           4             36  Eastern Mediterranean
35154         71           1            465                 Africa
35155        192           2             24                 Africa

[10521 rows x 10 columns]

Data cleaned and saved as 'full_grouped_cleaned.csv'.